<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Layout</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-KK94CHFLle+NY2dmCWGM9q1rCGa5gtU4mk92HdVYe+M/SXH301p5ILy+DN9+nJOZ"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar bg-dark" data-bs-theme="dark">
    <div>
        <a class="navbar-brand" th:href="@{/home}">Home</a>
        <a class="navbar-brand" th:href="@{/course/create}">Add Course</a>
    </div>
</nav>
<div class="container body-content">
    <div layout:fragment="content"></div>
</div>
<div class="card-footer">
    <hr />
    Nhóm 1
</div>
</body>
</html>