<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List products</title>
</head>
<body>
<div layout:fragment="content" class="container body-content">
    <a th:href="@{/products/create}" class="btn btn-primary">Create New Product</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
            <th scope="col">Price</th>
            <th scope="col">Actions</th> <!-- Added a header for the actions column -->
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${listproduct}">
            <td th:text="${product.id}"></td> <!-- Removed 'th:scope="row"' -->
            <td th:text="${product.name}"></td>
            <td>
                <img th:src="@{/images/} + ${product.image}" alt="Product Image" height="120" width="150" /> <!-- Added alt attribute -->
            </td>
            <td th:text="${product.price}"></td>
            <td>
                <a th:href="@{/products/edit/{id}(id=${product.id})}" class="btn btn-secondary">Edit</a>
                <a th:href="@{/products/delete/{id}(id=${product.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
